<style>
    .startMain{
        width: 1200px;
        padding-top: 20px;
        border: 1px solid #e1e1e1;
        margin: 70px auto 20px;
        background-color: #fff;
        text-align: center;
        min-height: 470px;
    }
    .startMain p{
        margin-top: 30px;
        font-size: 24px;
        color: #2a2a38;
        line-height: 40px;
    }
    .dayeeQR{
        display: block;
        margin: 40px auto 0;
    }
    p.deliveringP{
        color: #d4d4d4;
        margin-top: 20px;
    }
    .button{
        margin: 50px 20px 0;
        line-height: 40px;
    }
    .tintBtn{
        background-color: #b2da81;
    }
    .width180{
        width: 180px;
    }
    .width320{
        width: 320px;
        height: 45px;
        font-size: 16px;
    }
    p.hintInformation{
        font-size: 14px;
        color: #76757b;
    }
</style>
<!-- 中间图片部分  start-->
<div class="startMain" set-min-height="162">
    <img src="images/appraisal1.png"/>
    <p ng-show="urlParams.hasAssessment === 0 && urlParams.hasWrittenExam != 0">{{language.assessTips.needAssess}}</p>
    <p ng-show="urlParams.hasAssessment != 0 && urlParams.hasWrittenExam === 0">{{language.assessTips.needExam}}</p>
    <p ng-show="urlParams.hasAssessment === 0 && urlParams.hasWrittenExam === 0">{{language.assessTips.needAssessOrExam}}</p>
    <div class="btnCon">
        <button ng-show="urlParams.hasAssessment === 0" ng-click="goAssessOrExam(1);" class="button button--winona width180 mc-bgc" data-text="{{language.assessTips.goAssess}}">
            <span>{{language.assessTips.goAssess}}</span>
            <div class="after">{{language.assessTips.goAssess}}</div>
        </button>
        <button ng-show="urlParams.hasWrittenExam === 0" ng-click="goAssessOrExam(2);" class="button button--winona width180 mc-bgc" data-text="{{language.assessTips.goWrittenExam}}">
            <span>{{language.assessTips.goWrittenExam}}</span>
            <div class="after">{{language.assessTips.goWrittenExam}}</div>
        </button>
    </div>
    <p ng-show="urlParams.hasAssessment === 0 && urlParams.hasWrittenExam != 0" class="hintInformation">({{language.assessTips.sendAssess}})</p>
    <p ng-show="urlParams.hasAssessment != 0 && urlParams.hasWrittenExam === 0" class="hintInformation">({{language.assessTips.sendExam}})</p>
    <p ng-show="urlParams.hasAssessment === 0 && urlParams.hasWrittenExam === 0" class="hintInformation">({{language.assessTips.sendAssessOrExam}})</p>
</div>
<!-- 中间图片部分  end-->